*{
  margin: 0;
  padding: 0;
}

ul, ol{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  width: 1320px;
  margin: 0 auto;
}

.main{
  display: flex;
}

.title{
  text-align: center;
}









/* ======================HEADER PART CSS STARTS HERE====================== */
header{
  width: 100%;
  background: #0872b9;
  height: 30px;
  padding-top: 5px;
  box-sizing: border-box;
}

header .left{
  width: 50%;
}

header .right{
  width: 50%;
  text-align: right;
}

header .left h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #e7e7e7;
}

header .right i{
  font-size: 14px;
  padding-left: 25px;
  color: #e7e7e7;
  cursor: pointer;
}

header .right i:hover{
  color: #2d404e;
}
/* ======================HEADER PART CSS ENDS HERE====================== */





/* ======================NAV PART CSS STARTS HERE====================== */
nav{
  padding: 20px 0;
}

nav .left{
  width: 50%;
}

nav .right{
  width: 50%;
  text-align: right;
}

nav .right ul li{
  display: inline-block;
  padding-left: 15px;
  margin-top: 15px;
}


nav .right a{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #353535;
  transition: .4s;
}

nav .right a:hover{
  color:#0872b9;
}
/* ======================NAV PART CSS ENDS HERE====================== */





/* ======================BANNER PART CSS STARTS HERE====================== */
#banner-part{
  background: url(../images/banner.png) no-repeat center;
  background-size: cover;
  height: 550px;
}

#banner-part .overlay{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  text-align: right;
}


#banner-part .overlay  h2{
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 88px;
}

#banner-part .overlay h1{
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 40px;
}

#banner-part .overlay  p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 30px;
  width: 50%;
  margin-left: auto;
  margin-bottom: 60px;
}

#banner-part .overlay a{
  border: 1px solid #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  padding: 5px 20px;
  margin-left: 20px;
}

#banner-part .overlay a:hover{
  border: 1px solid transparent;
  background: #0872b9;
}
/* ======================BANNER PART CSS ENDS HERE====================== */






/* ======================ABOUT PART CSS STARTS HERE====================== */
#about-part{
  padding-top: 60px;
  padding-bottom: 60px;
}

#about-part .title{
  margin-bottom: 40px;
}

#about-part .title h2{
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #35335;
}

#about-part .title img{
  margin-bottom: 15px;
  margin-right: 35px;
}

#about-part .main .left{
  width: 40%;
}

#about-part .main .right{
  width: 60%;
}

#about-part .main .right p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

#about-part .main .right .top{
  margin-bottom: 35px;
}
/* ======================ABOUT PART CSS ENDS HERE====================== */





/* ======================SERVICES PART CSS STARTS HERE====================== */


#services-part{
  margin-top: 60px;
  margin-bottom: 60px;
}

#services-part .main{
  justify-content: center;
}

#services-part .title{
  margin-bottom: 100px;
}

#services-part .title h2{
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #35335;
}

#services-part .title img{
  margin-bottom: 15px;
  margin-right: 75px;
}

#services-part .main .item{
  background: #e1dfdf;
  width: 30%;
  margin: 0 20px;
  position: relative;
  transition: .4s;
  text-align: center;
}

#services-part .main .item:hover{
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.28);
-moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.28);
box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.28);
}

#services-part .main .item h4{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-top: 70px;
}

#services-part .main .item p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
  line-height: 30px;
}

#services-part .main .item .circle{
  background: #fff;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#services-part .main .item .circle .circle2{
  height: 120px;
  width: 120px;
  border: 1px solid #e1dfdf;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .4s;
}

#services-part .main .item:hover .circle2{
  border: 1px solid #5BC5F4;
}

#services-part .main .item .circle .circle2 .circle3{
  height: 110px;
  width: 110px;
  background:#e1dfdf;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .4s;
  display: flex;
  align-items: center;
  justify-content: center;

}

#services-part .main .item:hover .circle2 .circle3{
  background: #5BC5F4;
}
/* ======================SERVICES PART CSS ENDS HERE====================== */





/* ======================PORTFOLIO PART CSS STARTS HERE====================== */
#portfolio-part{
  margin: 100px 0;
}

#portfolio-part .title{
  margin-bottom:20px;
}

#portfolio-part .title h2{
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #35335;
}

#portfolio-part .title img{
  margin-bottom: 15px;
  margin-right: 90px;
}

#portfolio-part .main{
  justify-content: center;
}

#portfolio-part .item{
  width: 25%;
  margin: 0 15px;
}

#portfolio-part .item .image{
  position: relative;
  margin: 25px 0;
}

#portfolio-part .item .image img{
  width: 100%;
}

#portfolio-part .item .image .overlay{
  width: 100%;
  height: 0%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  transition: .4s;
}

#portfolio-part .item .image:hover .overlay{
  height: 100%;
  top: 1;
  left: 0;
}

#portfolio-part .item .image .overlay i{
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: #fff;
  background: #5BC5F4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

#portfolio-part .image:hover .overlay i{
  opacity: 1;
}
/* ======================PORTFOLIO PART CSS ENDS HERE====================== */







/* ======================TEAM PART CSS STARTS HERE====================== */
#team-part{
  margin-bottom: 100px;
}

#team-part .title{
  margin-bottom:20px;
}

#team-part .title h2{
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #35335;
}

#team-part .title img{
  margin-bottom: 15px;
  margin-right: 35px;
}

#team-part .main .item{
  width: 25%;
  text-align: center;
}

#team-part .main .item .image{
  position: relative;
  margin: 0 20px;
}

#team-part .main .item .image img{
  width: 100%;
}

#team-part .main .item .image .overlay{
  background: rgba(0,0,0,0.5);
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: .4s;
  padding: 40px 0;
  box-sizing: border-box;
}

#team-part .main .item .image .overlay i{
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  margin: 10px 0;
  margin-left: 25%;
}

#team-part .main .item h4{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color:
  color: #424242;;
  transition: .4s;
}

#team-part .main .item p{
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #424242;
}

#team-part .main .item .image:hover .overlay{
  width: 30%
}

#team-part .main .item .image .overlay i:hover{
  background: #5BC5F4;
  border: 0;
}

#team-part .main .item:hover h4{
  color: #5BC5F4;
}
/* ======================TEAM PART CSS ENDS HERE====================== */







/* ======================TESTIMONIAL PART CSS STARTS HERE======================*/
#testimonial-part{
  margin-bottom: 100px;
}

#testimonial-part .title{
  margin-bottom:20px;
}

#testimonial-part .title h2{
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #35335;
}

#testimonial-part .title img{
  margin-bottom: 15px;
  margin-right: 60px;
}

#testimonial-part .main{
  justify-content: space-between;
}

#testimonial-part .item {
  width: 49%;
  height: 300px;
}

#testimonial-part .item .image{
  margin-bottom: 20px;
}

#testimonial-part .item .image img{
  margin-left: 50%;
  transform: translateX(-50%);
}

#testimonial-part .item .text{
  text-align: center;
  background: #E1DFDF;
  height: 230px;
  padding-top: 35px;
  box-sizing: border-box;
  clip-path: polygon(50% 0, 54% 8%, 100% 9%, 100% 100%, 0 100%, 0 8%, 46% 8%);
}

#testimonial-part .item .text h3{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #424242;
}

#testimonial-part .item .text i{
  color: #5BC5F4;
  padding-top: 10px;
}

#testimonial-part .item .text h4{
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
  color: #424242;
}

#testimonial-part .item .text p{
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 10px 0 10px;;
  color: #424242;
}
/* ======================TESTIMONIAL PART CSS ENDS HERE======================*/







/* ======================FOOTER PART CSS STARTS HERE======================*/
#footer-part{
  background: black;
  height: 305px;
}

#footer-part .logo{
  width: 25%;
  padding-top: 20px;
}

#footer-part .logo p{
  padding-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #efefef;
}

#footer-part .contacts{
  width: 25%;
  padding-top: 30px;
  padding-left: 30px;
  box-sizing: border-box;
}

#footer-part .contacts h4{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #efefef;
  padding-bottom: 30px;
}

#footer-part .contacts .icon{
  display: flex;
  padding-bottom: 10px;
}

#footer-part .contacts .icon p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #efefef;
  padding-left: 10px;
  padding-top: 5px;
}

#footer-part .contacts .icon i{
  background: #5BC5F4;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #efefef;
  font-size: 20px;
}

#footer-part .links{
  padding-top: 30px;
  width: 20%;
  position: relative;
}

#footer-part .links .right{
  position: absolute;
  top: 28%;
  right: 30%;
}

#footer-part .links h4{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #efefef;
  padding-bottom: 30px;
}

#footer-part .links a{
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #efefef;
  padding-bottom: 10px;
  transition: .4s;
}

#footer-part .links a:hover{
  color: #5BC5F4;
}

#footer-part .photos{
  width: 30%;
  padding: 30px 30px;
  box-sizing: border-box;
}

#footer-part .photos h4{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #efefef;
  padding-bottom: 10px;
}

#footer-part .photos img{
  margin: 5px;
}


#footer-part .copyright{
  width: 100%;
  height: 45px;
  background: grey;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;

}

#footer-part .copyright p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #efefef;
}

#footer-part .copyright a{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5BC5F4;
}















/* ======================FOOTER PART CSS ENDS HERE======================*/
